@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.loginPage {
  font-family: 'Inter', sans-serif;
  background-image: url("https://images.pexels.com/photos/103592/pexels-photo-103592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

#login .container #login-row #login-column #login-box {
  padding: 2rem;
  margin-top: 60px;
  max-width: 600px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  background-color: #eaeaea;
}

.alert-header {
  color: red;
}

.centered-form {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.dashboardPage {
  background-color: grey;
  /* background-image: url("https://images.pexels.com/photos/2170473/pexels-photo-2170473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-list {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 3rem;
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 3rem;
}

.card-body {
  text-align: center;
  padding: 0 1rem 1rem;
}

.circle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.circle.emergency {
  background-color: red;
}

.circle.warning {
  background-color: orange;
}

.circle.normal {
  background-color: green;
}

.status-text.emergency {
  color: red;
}

.status-text.warning {
  color: orange;
}

.status-text.normal {
  color: green;
}

.detailpage {
  padding-top: 138rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  position: relative;
  padding: 2rem 300px;
  width: 100%;
  max-width: 640%;
}

.popupInner .close-btn {
  position: absolute;
}

.modal-body
{
    height: 100%;
    border-bottom: 0px;
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: transparent;
}

.modal-footer
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

.modal-header
{
    border-bottom: 0 none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}