@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');

.loginPage {
  font-family: "Inter", sans-serif;
  background-image: url("https://images.pexels.com/photos/103592/pexels-photo-103592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

#login .container #login-row #login-column #login-box {
  padding: 2rem;
  margin-top: 60px;
  max-width: 600px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  background-color: #eaeaea;
}

.login-header {
  font-family: 'Nunito', sans-serif;
}

.loginform-header {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.centered-form {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.dashboardPage {
  background-color: #eef0f5;
  min-height: 100vh;
}

.dashboardPage-header {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.sign-in-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.button-emer {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}

.emer-header {
  font-family: 'Merriweather Sans', sans-serif;
  color: red;
}

.dashboardcard {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding: 2em 0;
  height: 300px;
  width: 100%;
  color: rgb(0, 0, 0);
  /* border: solid black; */
  border-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #bebebe;
  text-align: center;
}

.dashboardcard.emergency {
  /* border: solid red; */
  background-color: rgb(255, 139, 139);
}

.circle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.detailpage {
  padding-top: 138rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popupInner {
  position: relative;
}

.popupInner .close-btn {
  position: absolute;
}

@media (min-width: 768px) {
  .popup-detail {
    width: 640px;
  }
}

@media (min-width: 992px) {
  .popup-detail {
    width: 800px;
  }
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2em;
}

.edit-button:hover {
  background-color: rgba(0, 0, 0, 0.178);
  cursor: pointer;
}
